.icon {
	display: inline-block;
	color: #000000;
	fill: currentColor;
	
}
.xcogIconhome {
	width: 32px;
	height: 32px;
}
.xcogIconoffice {
	width: 32px;
	height: 32px;
}
.xcogIconpencil {
	width: 32px;
	height: 32px;
}
.xcogIconquill {
	width: 32px;
	height: 32px;
}
.xcogIconpen {
	width: 32px;
	height: 32px;
}
.xcogIconblog {
	width: 32px;
	height: 32px;
}
.xcogIconpaint-format {
	width: 32px;
	height: 32px;
}
.xcogIconimage {
	width: 32px;
	height: 32px;
}
.xcogIconcamera {
	width: 32px;
	height: 32px;
}
.xcogIconmusic {
	width: 32px;
	height: 32px;
}
.xcogIconheadphones {
	width: 32px;
	height: 32px;
}
.xcogIconplay {
	width: 32px;
	height: 32px;
}
.xcogIconcamera2 {
	width: 32px;
	height: 32px;
}
.xcogIcondice {
	width: 32px;
	height: 32px;
}
.xcogIconbullhorn {
	width: 32px;
	height: 32px;
}
.xcogIconconnection {
	width: 40px;
	height: 32px;
}
.xcogIconfeed {
	width: 32px;
	height: 32px;
}
.xcogIconprofile {
	width: 32px;
	height: 32px;
}
.xcogIconticket {
	width: 32px;
	height: 32px;
}
.xcogIconcart {
	width: 32px;
	height: 32px;
}
.xcogIconphone {
	width: 32px;
	height: 32px;
}
.xcogIconscreen {
	width: 32px;
	height: 32px;
}
.xcogIconmobile {
	width: 32px;
	height: 32px;
}
.xcogIconmobile2 {
	width: 32px;
	height: 32px;
}
.xcogIcontv {
	width: 32px;
	height: 32px;
}
.xcogIcondisk {
	width: 32px;
	height: 32px;
}
.xcogIconredo {
	width: 32px;
	height: 32px;
}
.xcogIconbubble {
	width: 32px;
	height: 32px;
}
.xcogIconbubble2 {
	width: 32px;
	height: 32px;
}
.xcogIconuser {
	width: 32px;
	height: 32px;
}
.xcogIconusers {
	width: 32px;
	height: 32px;
}
.xcogIconuser2 {
	width: 32px;
	height: 32px;
}
.xcogIconquotes-left {
	width: 32px;
	height: 32px;
}
.xcogIconbinoculars {
	width: 32px;
	height: 32px;
}
.xcogIconcog {
	width: 32px;
	height: 32px;
}
.xcogIconcogs {
	width: 32px;
	height: 32px;
}
.xcogIconhammer {
	width: 32px;
	height: 32px;
}
.xcogIconbars {
	width: 32px;
	height: 32px;
}
.xcogIcontrophy {
	width: 32px;
	height: 32px;
}
.xcogIconglass {
	width: 32px;
	height: 32px;
}
.xcogIconmug {
	width: 32px;
	height: 32px;
}
.xcogIconfood {
	width: 32px;
	height: 32px;
}
.xcogIconmeter {
	width: 32px;
	height: 32px;
}
.xcogIcondashboard {
	width: 32px;
	height: 32px;
}
.xcogIconhammer2 {
	width: 32px;
	height: 32px;
}
.xcogIconfire {
	width: 32px;
	height: 32px;
}
.xcogIconlab {
	width: 32px;
	height: 32px;
}
.xcogIconremove {
	width: 32px;
	height: 32px;
}
.xcogIconbriefcase {
	width: 32px;
	height: 32px;
}
.xcogIconaccessibility {
	width: 32px;
	height: 32px;
}
.xcogIcontarget {
	width: 32px;
	height: 32px;
}
.xcogIconswitch {
	width: 32px;
	height: 32px;
}
.xcogIconpowercord {
	width: 32px;
	height: 32px;
}
.xcogIconmenu {
	width: 32px;
	height: 32px;
}
.xcogIconeye {
	width: 32px;
	height: 32px;
}
.xcogIconeye2 {
	width: 32px;
	height: 32px;
}
.xcogIconheart {
	width: 32px;
	height: 32px;
}
.xcogIconthumbs-up {
	width: 32px;
	height: 32px;
}
.xcogIconthumbs-up2 {
	width: 32px;
	height: 32px;
}
.xcogIconhappy {
	width: 32px;
	height: 32px;
}
.xcogIconsmiley {
	width: 32px;
	height: 32px;
}
.xcogIcontongue {
	width: 32px;
	height: 32px;
}
.xcogIconsad {
	width: 32px;
	height: 32px;
}
.xcogIconwink {
	width: 32px;
	height: 32px;
}
.xcogIconcool {
	width: 32px;
	height: 32px;
}
.xcogIconangry {
	width: 32px;
	height: 32px;
}
.xcogIconevil {
	width: 32px;
	height: 32px;
}
.xcogIconconfused {
	width: 32px;
	height: 32px;
}
.xcogIconneutral {
	width: 32px;
	height: 32px;
}
.xcogIconwondering {
	width: 32px;
	height: 32px;
}
.xcogIconquestion {
	width: 32px;
	height: 32px;
}
.xcogIconblocked {
	width: 32px;
	height: 32px;
}
.xcogIconcancel-circle {
	width: 32px;
	height: 32px;
}
.xcogIconcheckmark-circle {
	width: 32px;
	height: 32px;
}
.xcogIconspam {
	width: 32px;
	height: 32px;
}
.xcogIconclose {
	width: 32px;
	height: 32px;
}
.xcogIconplay2 {
	width: 32px;
	height: 32px;
}
.xcogIconpause {
	width: 32px;
	height: 32px;
}
.xcogIconstop {
	width: 32px;
	height: 32px;
}
.xcogIconfirst {
	width: 32px;
	height: 32px;
}
.xcogIconlast {
	width: 32px;
	height: 32px;
}
.xcogIconvolume-high {
	width: 34px;
	height: 32px;
}
.xcogIconshuffle {
	width: 32px;
	height: 32px;
}
.xcogIconfilter {
	width: 32px;
	height: 32px;
}
.xcogIconcode {
	width: 32px;
	height: 32px;
}
.xcogIconconsole {
	width: 32px;
	height: 32px;
}
.xcogIcongoogleplus {
	width: 32px;
	height: 32px;
}
.xcogIconfacebook {
	width: 32px;
	height: 32px;
}
.xcogIcontwitter {
	width: 32px;
	height: 32px;
}
.xcogIconyoutube {
	width: 32px;
	height: 32px;
}
.xcogIconvimeo {
	width: 32px;
	height: 32px;
}
.xcogIconflickr {
	width: 32px;
	height: 32px;
}
.xcogIcondribbble {
	width: 32px;
	height: 32px;
}
.xcogIcondeviantart {
	width: 32px;
	height: 32px;
}
.xcogIconsteam {
	width: 32px;
	height: 32px;
}
.xcogIcongithub {
	width: 32px;
	height: 32px;
}
.xcogIcongithub2 {
	width: 32px;
	height: 32px;
}
.xcogIcongithub22 {
	width: 32px;
	height: 32px;
}
.xcogIcongithub3 {
	width: 32px;
	height: 32px;
}
.xcogIconwordpress {
	width: 32px;
	height: 32px;
}
.xcogIcontux {
	width: 32px;
	height: 32px;
}
.xcogIconapple {
	width: 32px;
	height: 32px;
}
.xcogIconfinder {
	width: 32px;
	height: 32px;
}
.xcogIconandroid {
	width: 32px;
	height: 32px;
}
.xcogIconwindows {
	width: 32px;
	height: 32px;
}
.xcogIconsoundcloud {
	width: 32px;
	height: 32px;
}
.xcogIconskype {
	width: 32px;
	height: 32px;
}
.xcogIconreddit {
	width: 32px;
	height: 32px;
}
.xcogIconlinkedin {
	width: 32px;
	height: 32px;
}
.xcogIconstackoverflow {
	width: 32px;
	height: 32px;
}
.xcogIconpaypal {
	width: 32px;
	height: 32px;
}
.xcogIconhtml5 {
	width: 32px;
	height: 32px;
}
.xcogIconchrome {
	width: 32px;
	height: 32px;
}
.xcogIconfirefox {
	width: 32px;
	height: 32px;
}
.xcogIconIE {
	width: 32px;
	height: 32px;
}
.xcogIconopera {
	width: 32px;
	height: 32px;
}
.xcogIconsafari {
	width: 32px;
	height: 32px;
}
.xcogIconanchor {
	width: 32px;
	height: 32px;
}
.xcogIconsound {
	width: 32px;
	height: 32px;
}
.xcogIconuser22 {
	width: 32px;
	height: 32px;
}
.xcogIconsettings {
	width: 32px;
	height: 32px;
}
.xcogIconbulb {
	width: 32px;
	height: 32px;
}
.xcogIconbubble22 {
	width: 32px;
	height: 32px;
}
.xcogIconpaperplane {
	width: 32px;
	height: 32px;
}
.xcogIconbanknote {
	width: 32px;
	height: 32px;
}
.xcogIcondata {
	width: 32px;
	height: 32px;
}
.xcogIconmusic2 {
	width: 32px;
	height: 32px;
}
.xcogIconmegaphone {
	width: 32px;
	height: 32px;
}
.xcogIconlab2 {
	width: 32px;
	height: 32px;
}
.xcogIconfire2 {
	width: 32px;
	height: 32px;
}
.xcogIconphone2 {
	width: 40px;
	height: 40px;
}
.xcogIconmobile3 {
	width: 40px;
	height: 40px;
}
.xcogIconpaperplane2 {
	width: 40px;
	height: 40px;
}
.xcogIconuser3 {
	width: 40px;
	height: 40px;
}
.xcogIconusers2 {
	width: 40px;
	height: 40px;
}
.xcogIconuser-add {
	width: 40px;
	height: 40px;
}
.xcogIconlocation {
	width: 40px;
	height: 40px;
}
.xcogIconsharable {
	width: 40px;
	height: 40px;
}
.xcogIconthumbsup {
	width: 40px;
	height: 40px;
}
.xcogIconthumbsdown {
	width: 40px;
	height: 40px;
}
.xcogIconquote {
	width: 40px;
	height: 40px;
}
.xcogIconflashlight {
	width: 40px;
	height: 40px;
}
.xcogIcontools {
	width: 40px;
	height: 40px;
}
.xcogIconmegaphone2 {
	width: 40px;
	height: 40px;
}
.xcogIconthunder {
	width: 40px;
	height: 40px;
}
.xcogIconrss {
	width: 40px;
	height: 40px;
}
.xcogIconlist {
	width: 40px;
	height: 40px;
}
.xcogIcontrash {
	width: 40px;
	height: 40px;
}
.xcogIconvolume {
	width: 40px;
	height: 40px;
}
.xcogIconflow-cascade {
	width: 40px;
	height: 40px;
}
.xcogIconflow-branch {
	width: 40px;
	height: 40px;
}
.xcogIconflow-tree {
	width: 40px;
	height: 40px;
}
.xcogIconflow-line {
	width: 40px;
	height: 40px;
}
.xcogIconflow-parallel {
	width: 40px;
	height: 40px;
}
.xcogIconflickr2 {
	width: 40px;
	height: 40px;
}
.xcogIcontwitter2 {
	width: 40px;
	height: 40px;
}
.xcogIconfacebook2 {
	width: 40px;
	height: 40px;
}
.xcogIcongoogleplus2 {
	width: 40px;
	height: 40px;
}
.xcogIconpinterest {
	width: 40px;
	height: 40px;
}
.xcogIconlinkedin2 {
	width: 40px;
	height: 40px;
}
.xcogIcondribbble2 {
	width: 40px;
	height: 40px;
}
.xcogIconinstagram {
	width: 40px;
	height: 40px;
}
.xcogIcondropbox {
	width: 40px;
	height: 40px;
}
.xcogIconskype2 {
	width: 40px;
	height: 40px;
}
.xcogIconpaypal2 {
	width: 40px;
	height: 40px;
}
.xcogIconsoundcloud2 {
	width: 40px;
	height: 40px;
}
.xcogIconbehance {
	width: 40px;
	height: 40px;
}
