/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 30, 2014, 1:48:18 AM
    Author     : Rob Xcog rob@xcogstudios.com (Im usually friendly)
*/

#xcogNavigation {
    
    display: none;
    width: 0%;
    
}