.iconxcogIcon {
	display: inline-block;
	color: #000000;
	fill: currentColor;
	background-color: ;
}
.xcogIconhome {
	width: 32px;
	height: 32px;
}
.xcogIconoffice {
	width: 32px;
	height: 32px;
}
.xcogIconnewspaper {
	width: 32px;
	height: 32px;
}
.xcogIconpencil {
	width: 32px;
	height: 32px;
}
.xcogIconpencil2 {
	width: 32px;
	height: 32px;
}
.xcogIconquill {
	width: 32px;
	height: 32px;
}
.xcogIconpen {
	width: 32px;
	height: 32px;
}
.xcogIconblog {
	width: 32px;
	height: 32px;
}
.xcogIcondroplet {
	width: 32px;
	height: 32px;
}
.xcogIconpaint-format {
	width: 32px;
	height: 32px;
}
.xcogIconimage {
	width: 32px;
	height: 32px;
}
.xcogIconimage2 {
	width: 32px;
	height: 32px;
}
.xcogIconimages {
	width: 32px;
	height: 32px;
}
.xcogIconcamera {
	width: 32px;
	height: 32px;
}
.xcogIconmusic {
	width: 32px;
	height: 32px;
}
.xcogIconheadphones {
	width: 32px;
	height: 32px;
}
.xcogIconplay {
	width: 32px;
	height: 32px;
}
.xcogIconfilm {
	width: 32px;
	height: 32px;
}
.xcogIconcamera2 {
	width: 32px;
	height: 32px;
}
.xcogIcondice {
	width: 32px;
	height: 32px;
}
.xcogIconpacman {
	width: 32px;
	height: 32px;
}
.xcogIconspades {
	width: 32px;
	height: 32px;
}
.xcogIconclubs {
	width: 32px;
	height: 32px;
}
.xcogIcondiamonds {
	width: 32px;
	height: 32px;
}
.xcogIconpawn {
	width: 32px;
	height: 32px;
}
.xcogIconbullhorn {
	width: 32px;
	height: 32px;
}
.xcogIconconnection {
	width: 40px;
	height: 32px;
}
.xcogIconpodcast {
	width: 32px;
	height: 32px;
}
.xcogIconfeed {
	width: 32px;
	height: 32px;
}
.xcogIconbook {
	width: 32px;
	height: 32px;
}
.xcogIconbooks {
	width: 32px;
	height: 32px;
}
.xcogIconlibrary {
	width: 32px;
	height: 32px;
}
.xcogIconprofile {
	width: 32px;
	height: 32px;
}
.xcogIconfolder {
	width: 32px;
	height: 32px;
}
.xcogIconfolder-open {
	width: 32px;
	height: 32px;
}
.xcogIcontag {
	width: 32px;
	height: 32px;
}
.xcogIconbarcode {
	width: 32px;
	height: 32px;
}
.xcogIconqrcode {
	width: 32px;
	height: 32px;
}
.xcogIconticket {
	width: 32px;
	height: 32px;
}
.xcogIconcart {
	width: 32px;
	height: 32px;
}
.xcogIconcart2 {
	width: 32px;
	height: 32px;
}
.xcogIconcart3 {
	width: 32px;
	height: 32px;
}
.xcogIconcoin {
	width: 32px;
	height: 32px;
}
.xcogIconcredit {
	width: 32px;
	height: 32px;
}
.xcogIconphone {
	width: 32px;
	height: 32px;
}
.xcogIconaddress-book {
	width: 32px;
	height: 32px;
}
.xcogIconcompass {
	width: 32px;
	height: 32px;
}
.xcogIconbell {
	width: 32px;
	height: 32px;
}
.xcogIcondownload {
	width: 32px;
	height: 32px;
}
.xcogIconupload {
	width: 32px;
	height: 32px;
}
.xcogIconflip {
	width: 32px;
	height: 32px;
}
.xcogIconflip2 {
	width: 32px;
	height: 32px;
}
.xcogIconbubble {
	width: 32px;
	height: 32px;
}
.xcogIconquotes-left {
	width: 32px;
	height: 32px;
}
.xcogIconspinner {
	width: 32px;
	height: 32px;
}
.xcogIconbinoculars {
	width: 32px;
	height: 32px;
}
.xcogIconsearch {
	width: 32px;
	height: 32px;
}
.xcogIconkey {
	width: 32px;
	height: 32px;
}
.xcogIconwrench {
	width: 32px;
	height: 32px;
}
.xcogIconcog {
	width: 32px;
	height: 32px;
}
.xcogIconcogs {
	width: 32px;
	height: 32px;
}
.xcogIconcog2 {
	width: 32px;
	height: 32px;
}
.xcogIconhammer {
	width: 32px;
	height: 32px;
}
.xcogIconwand {
	width: 32px;
	height: 32px;
}
.xcogIconaid {
	width: 32px;
	height: 32px;
}
.xcogIconbug {
	width: 32px;
	height: 32px;
}
.xcogIcontrophy {
	width: 32px;
	height: 32px;
}
.xcogIconglass {
	width: 32px;
	height: 32px;
}
.xcogIconmug {
	width: 32px;
	height: 32px;
}
.xcogIconfood {
	width: 32px;
	height: 32px;
}
.xcogIconleaf {
	width: 32px;
	height: 32px;
}
.xcogIconrocket {
	width: 32px;
	height: 32px;
}
.xcogIconmeter {
	width: 32px;
	height: 32px;
}
.xcogIconmeter2 {
	width: 32px;
	height: 32px;
}
.xcogIcondashboard {
	width: 32px;
	height: 32px;
}
.xcogIconhammer2 {
	width: 32px;
	height: 32px;
}
.xcogIconfire {
	width: 32px;
	height: 32px;
}
.xcogIconlab {
	width: 32px;
	height: 32px;
}
.xcogIconmagnet {
	width: 32px;
	height: 32px;
}
.xcogIconremove {
	width: 32px;
	height: 32px;
}
.xcogIconbriefcase {
	width: 32px;
	height: 32px;
}
.xcogIconairplane {
	width: 32px;
	height: 32px;
}
.xcogIcontruck {
	width: 32px;
	height: 32px;
}
.xcogIconroad {
	width: 32px;
	height: 32px;
}
.xcogIconaccessibility {
	width: 32px;
	height: 32px;
}
.xcogIcontarget {
	width: 32px;
	height: 32px;
}
.xcogIconshield {
	width: 32px;
	height: 32px;
}
.xcogIconlightning {
	width: 32px;
	height: 32px;
}
.xcogIconswitch {
	width: 32px;
	height: 32px;
}
.xcogIconpowercord {
	width: 32px;
	height: 32px;
}
.xcogIconsignup {
	width: 32px;
	height: 32px;
}
.xcogIcontree {
	width: 32px;
	height: 32px;
}
.xcogIconflag {
	width: 32px;
	height: 32px;
}
.xcogIconeye {
	width: 32px;
	height: 32px;
}
.xcogIconheart {
	width: 32px;
	height: 32px;
}
.xcogIconhappy {
	width: 32px;
	height: 32px;
}
.xcogIconhappy2 {
	width: 32px;
	height: 32px;
}
.xcogIconsmiley {
	width: 32px;
	height: 32px;
}
.xcogIconsmiley2 {
	width: 32px;
	height: 32px;
}
.xcogIcontongue {
	width: 32px;
	height: 32px;
}
.xcogIcontongue2 {
	width: 32px;
	height: 32px;
}
.xcogIconsad {
	width: 32px;
	height: 32px;
}
.xcogIconsad2 {
	width: 32px;
	height: 32px;
}
.xcogIconwink {
	width: 32px;
	height: 32px;
}
.xcogIconwink2 {
	width: 32px;
	height: 32px;
}
.xcogIcongrin {
	width: 32px;
	height: 32px;
}
.xcogIcongrin2 {
	width: 32px;
	height: 32px;
}
.xcogIconcool {
	width: 32px;
	height: 32px;
}
.xcogIconcool2 {
	width: 32px;
	height: 32px;
}
.xcogIconangry {
	width: 32px;
	height: 32px;
}
.xcogIconangry2 {
	width: 32px;
	height: 32px;
}
.xcogIconevil {
	width: 32px;
	height: 32px;
}
.xcogIconevil2 {
	width: 32px;
	height: 32px;
}
.xcogIconshocked {
	width: 32px;
	height: 32px;
}
.xcogIconshocked2 {
	width: 32px;
	height: 32px;
}
.xcogIconconfused {
	width: 32px;
	height: 32px;
}
.xcogIconconfused2 {
	width: 32px;
	height: 32px;
}
.xcogIconneutral {
	width: 32px;
	height: 32px;
}
.xcogIconneutral2 {
	width: 32px;
	height: 32px;
}
.xcogIconwondering {
	width: 32px;
	height: 32px;
}
.xcogIconwondering2 {
	width: 32px;
	height: 32px;
}
.xcogIconquestion {
	width: 32px;
	height: 32px;
}
.xcogIconinfo {
	width: 32px;
	height: 32px;
}
.xcogIconinfo2 {
	width: 32px;
	height: 32px;
}
.xcogIconblocked {
	width: 32px;
	height: 32px;
}
.xcogIconcancel-circle {
	width: 32px;
	height: 32px;
}
.xcogIconcheckmark-circle {
	width: 32px;
	height: 32px;
}
.xcogIconclose {
	width: 32px;
	height: 32px;
}
.xcogIconenter {
	width: 32px;
	height: 32px;
}
.xcogIconexit {
	width: 32px;
	height: 32px;
}
.xcogIconplay2 {
	width: 32px;
	height: 32px;
}
.xcogIconpause {
	width: 32px;
	height: 32px;
}
.xcogIconstop {
	width: 32px;
	height: 32px;
}
.xcogIconeject {
	width: 32px;
	height: 32px;
}
.xcogIconfilter {
	width: 32px;
	height: 32px;
}
.xcogIconembed {
	width: 32px;
	height: 32px;
}
.xcogIconcode {
	width: 32px;
	height: 32px;
}
.xcogIconmail {
	width: 32px;
	height: 32px;
}
.xcogIcongoogleplus {
	width: 32px;
	height: 32px;
}
.xcogIcongoogleplus2 {
	width: 32px;
	height: 32px;
}
.xcogIconyoutube {
	width: 32px;
	height: 32px;
}
.xcogIcongithub {
	width: 32px;
	height: 32px;
}
.xcogIconandroid {
	width: 32px;
	height: 32px;
}
.xcogIconwindows8 {
	width: 32px;
	height: 32px;
}
.xcogIconsoundcloud {
	width: 32px;
	height: 32px;
}
.xcogIconsoundcloud2 {
	width: 32px;
	height: 32px;
}
.xcogIconskype {
	width: 32px;
	height: 32px;
}
.xcogIconpaypal {
	width: 32px;
	height: 32px;
}
.xcogIconpaypal2 {
	width: 32px;
	height: 32px;
}
.xcogIconpaypal3 {
	width: 32px;
	height: 32px;
}
.xcogIconyelp {
	width: 32px;
	height: 32px;
}
.xcogIconfile-xml {
	width: 32px;
	height: 32px;
}
.xcogIconhtml5 {
	width: 32px;
	height: 32px;
}
.xcogIconchrome {
	width: 32px;
	height: 32px;
}
.xcogIconfirefox {
	width: 32px;
	height: 32px;
}
.xcogIconIE {
	width: 32px;
	height: 32px;
}
.xcogIconopera {
	width: 32px;
	height: 32px;
}
.xcogIconsafari {
	width: 32px;
	height: 32px;
}
.xcogIconsearch_2 {
	width: 64px;
	height: 64px;
}
.xcogIconlab2 {
	width: 64px;
	height: 64px;
}
.xcogIconphone2 {
	width: 60px;
	height: 60px;
}
.xcogIcondirections {
	width: 60px;
	height: 60px;
}
.xcogIconuser {
	width: 60px;
	height: 60px;
}
.xcogIconusers {
	width: 60px;
	height: 60px;
}
.xcogIconuser-add {
	width: 60px;
	height: 60px;
}
.xcogIconsharable {
	width: 60px;
	height: 60px;
}
.xcogIconthumbsup {
	width: 60px;
	height: 60px;
}
.xcogIconthumbsdown {
	width: 60px;
	height: 60px;
}
.xcogIconchat {
	width: 60px;
	height: 60px;
}
.xcogIconcomment {
	width: 60px;
	height: 60px;
}
.xcogIconquote {
	width: 60px;
	height: 60px;
}
.xcogIconhouse {
	width: 60px;
	height: 60px;
}
.xcogIconcog3 {
	width: 60px;
	height: 60px;
}
.xcogIcontools {
	width: 60px;
	height: 60px;
}
.xcogIcontrophy2 {
	width: 60px;
	height: 60px;
}
.xcogIconcamera3 {
	width: 60px;
	height: 60px;
}
.xcogIconmegaphone {
	width: 60px;
	height: 60px;
}
.xcogIconmoon {
	width: 60px;
	height: 60px;
}
.xcogIconpalette {
	width: 60px;
	height: 60px;
}
.xcogIconleaf2 {
	width: 60px;
	height: 60px;
}
.xcogIconmusic2 {
	width: 60px;
	height: 60px;
}
.xcogIconmusic3 {
	width: 60px;
	height: 60px;
}
.xcogIconnew {
	width: 60px;
	height: 60px;
}
.xcogIcongraduation {
	width: 60px;
	height: 60px;
}
.xcogIconbook2 {
	width: 60px;
	height: 60px;
}
.xcogIconbolt {
	width: 60px;
	height: 60px;
}
.xcogIconthunder {
	width: 60px;
	height: 60px;
}
.xcogIcondroplet2 {
	width: 60px;
	height: 60px;
}
.xcogIconlight-bulb {
	width: 60px;
	height: 60px;
}
.xcogIcondatabase {
	width: 60px;
	height: 60px;
}
.xcogIconcart22 {
	width: 60px;
	height: 60px;
}
.xcogIconticket2 {
	width: 60px;
	height: 60px;
}
.xcogIconrss {
	width: 60px;
	height: 60px;
}
.xcogIconthermometer {
	width: 60px;
	height: 60px;
}
.xcogIcondroplets {
	width: 60px;
	height: 60px;
}
.xcogIconpie {
	width: 60px;
	height: 60px;
}
.xcogIconlock {
	width: 60px;
	height: 60px;
}
.xcogIconlock-open {
	width: 60px;
	height: 60px;
}
.xcogIconcheckmark {
	width: 60px;
	height: 60px;
}
.xcogIconcross {
	width: 60px;
	height: 60px;
}
.xcogIconshuffle {
	width: 60px;
	height: 60px;
}
.xcogIconarrow {
	width: 60px;
	height: 60px;
}
.xcogIconsound {
	width: 60px;
	height: 60px;
}
.xcogIconmute {
	width: 60px;
	height: 60px;
}
.xcogIconflow-tree {
	width: 60px;
	height: 60px;
}
.xcogIconflow-line {
	width: 60px;
	height: 60px;
}
.xcogIconflow-parallel {
	width: 60px;
	height: 60px;
}
