/*
Error: File to import not found or unreadable: bootstrap-variables.
       Load paths:
         Compass::SpriteImporter
         /Users/robertbeatie/Desktop/Web Ops/xcog-production/frontend/web/xcogStyles/sass
         /Users/robertbeatie/.rvm/gems/ruby-2.1.5@global/gems/compass-core-1.0.1/stylesheets
         /Users/robertbeatie/.rvm/gems/ruby-2.1.5/gems/bootstrap-sass-3.3.1.0/assets/stylesheets
         /Users/robertbeatie/.rvm/gems/ruby-2.1.5/gems/bootstrap-sass-3.3.1.0/assets/stylesheets
        on line 2 of /Users/robertbeatie/Desktop/Web Ops/xcog-production/frontend/web/xcogStyles/sass/styles.scss

1: @import "bootstrap-compass";
2: @import "bootstrap-variables";
3: @import "bootstrap";

Backtrace:
/Users/robertbeatie/Desktop/Web Ops/xcog-production/frontend/web/xcogStyles/sass/styles.scss:2
/Users/robertbeatie/.rvm/gems/ruby-2.1.5@global/gems/sass-3.4.9/lib/sass/tree/import_node.rb:66:in `rescue in import'
/Users/robertbeatie/.rvm/gems/ruby-2.1.5@global/gems/sass-3.4.9/lib/sass/tree/import_node.rb:45:in `import'
/Users/robertbeatie/.rvm/gems/ruby-2.1.5@global/gems/sass-3.4.9/lib/sass/tree/import_node.rb:28:in `imported_file'
/Users/robertbeatie/.rvm/gems/ruby-2.1.5@global/gems/sass-3.4.9/lib/sass/tree/import_node.rb:37:in `css_import?'
/Users/robertbeatie/.rvm/gems/ruby-2.1.5@global/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:301:in `visit_import'
/Users/robertbeatie/.rvm/gems/ruby-2.1.5@global/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/robertbeatie/.rvm/gems/ruby-2.1.5@global/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/robertbeatie/.rvm/gems/ruby-2.1.5@global/gems/sass-3.4.9/lib/sass/stack.rb:79:in `block in with_base'
/Users/robertbeatie/.rvm/gems/ruby-2.1.5@global/gems/sass-3.4.9/lib/sass/stack.rb:115:in `with_frame'
/Users/robertbeatie/.rvm/gems/ruby-2.1.5@global/gems/sass-3.4.9/lib/sass/stack.rb:79:in `with_base'
/Users/robertbeatie/.rvm/gems/ruby-2.1.5@global/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/robertbeatie/.rvm/gems/ruby-2.1.5@global/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/robertbeatie/.rvm/gems/ruby-2.1.5@global/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/robertbeatie/.rvm/gems/ruby-2.1.5@global/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/robertbeatie/.rvm/gems/ruby-2.1.5@global/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/robertbeatie/.rvm/gems/ruby-2.1.5@global/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/robertbeatie/.rvm/gems/ruby-2.1.5@global/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/robertbeatie/.rvm/gems/ruby-2.1.5@global/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/robertbeatie/.rvm/gems/ruby-2.1.5@global/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/robertbeatie/.rvm/gems/ruby-2.1.5@global/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/robertbeatie/.rvm/gems/ruby-2.1.5@global/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/robertbeatie/.rvm/gems/ruby-2.1.5@global/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/robertbeatie/.rvm/gems/ruby-2.1.5@global/gems/sass-3.4.9/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/robertbeatie/.rvm/gems/ruby-2.1.5@global/gems/sass-3.4.9/lib/sass/tree/root_node.rb:20:in `render'
/Users/robertbeatie/.rvm/gems/ruby-2.1.5@global/gems/sass-3.4.9/lib/sass/engine.rb:268:in `render'
/Users/robertbeatie/.rvm/gems/ruby-2.1.5@global/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:17:in `block in render'
/Users/robertbeatie/.rvm/gems/ruby-2.1.5@global/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:29:in `with_import_scope'
/Users/robertbeatie/.rvm/gems/ruby-2.1.5@global/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:16:in `render'
/Users/robertbeatie/.rvm/gems/ruby-2.1.5@global/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/Users/robertbeatie/.rvm/gems/ruby-2.1.5@global/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/robertbeatie/.rvm/gems/ruby-2.1.5@global/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:209:in `each'
/Users/robertbeatie/.rvm/gems/ruby-2.1.5@global/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/robertbeatie/.rvm/gems/ruby-2.1.5@global/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:470:in `on_file_changed'
/Users/robertbeatie/.rvm/gems/ruby-2.1.5@global/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:328:in `block in watch'
/Users/robertbeatie/.rvm/gems/ruby-2.1.5@global/gems/sass-3.4.9/vendor/listen/lib/listen/listener.rb:252:in `call'
/Users/robertbeatie/.rvm/gems/ruby-2.1.5@global/gems/sass-3.4.9/vendor/listen/lib/listen/listener.rb:252:in `on_change'
/Users/robertbeatie/.rvm/gems/ruby-2.1.5@global/gems/sass-3.4.9/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
/Users/robertbeatie/.rvm/gems/ruby-2.1.5@global/gems/sass-3.4.9/vendor/listen/lib/listen/adapter.rb:254:in `call'
/Users/robertbeatie/.rvm/gems/ruby-2.1.5@global/gems/sass-3.4.9/vendor/listen/lib/listen/adapter.rb:254:in `report_changes'
/Users/robertbeatie/.rvm/gems/ruby-2.1.5@global/gems/sass-3.4.9/vendor/listen/lib/listen/adapter.rb:323:in `poll_changed_directories'
/Users/robertbeatie/.rvm/gems/ruby-2.1.5@global/gems/sass-3.4.9/vendor/listen/lib/listen/adapter.rb:299:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: File to import not found or unreadable: bootstrap-variables.\A        Load paths:\A          Compass::SpriteImporter\A          /Users/robertbeatie/Desktop/Web Ops/xcog-production/frontend/web/xcogStyles/sass\A          /Users/robertbeatie/.rvm/gems/ruby-2.1.5@global/gems/compass-core-1.0.1/stylesheets\A          /Users/robertbeatie/.rvm/gems/ruby-2.1.5/gems/bootstrap-sass-3.3.1.0/assets/stylesheets\A          /Users/robertbeatie/.rvm/gems/ruby-2.1.5/gems/bootstrap-sass-3.3.1.0/assets/stylesheets\A         on line 2 of /Users/robertbeatie/Desktop/Web Ops/xcog-production/frontend/web/xcogStyles/sass/styles.scss\A \A 1: @import \"bootstrap-compass\";\A 2: @import \"bootstrap-variables\";\A 3: @import \"bootstrap\";"; }
