/* line 13, ../sass/xcogMenu.scss */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

@media screen and (min-width: 240px) {
  /* line 19, ../sass/xcogMenu.scss */
  html {
    margin-left: calc(100vw - 100%);
    margin-right: 0;
  }
}
/* line 25, ../sass/xcogMenu.scss */
body::-webkit-scrollbar {
  /* This is the magic bit */
  display: none;
}

/* line 30, ../sass/xcogMenu.scss */
body, html {
  position: relative;
  margin: 0;
  padding: 0px;
  background-color: black;
}

/* line 37, ../sass/xcogMenu.scss */
a {
  text-decoration: none !important;
  -webkit-transition: all 0.6s 0.2s ease-in;
  -moz-transition: all 0.6s 0.2s ease-in;
  -ms-transition: all 0.6s 0.2s ease-in;
  -o-transition: all 0.6s 0.2s ease-in;
  transition: all .6s .2s ease-in;
  color: #9cbcb0;
}
/* line 44, ../sass/xcogMenu.scss */
a:hover, a:visited {
  color: #00e5ff;
}

/* line 52, ../sass/xcogMenu.scss */
.xcogMeWide {
  background-size: contain;
}

/* line 57, ../sass/xcogMenu.scss */
.xcogPannel {
  color: #373438;
}

/* line 61, ../sass/xcogMenu.scss */
.xcog-panelHeading {
  background-image: url("//farm8.staticflickr.com/7331/12960175804_e7a0049203_o.jpg") no-repeat center;
  background-size: 100%;
  height: 200px;
}
/* line 66, ../sass/xcogMenu.scss */
.xcog-panelHeading h2.panel-title {
  font-size: 32px;
  font-family: "Times New Roman", Times, serif;
  color: white;
  display: block;
  position: absolute;
  top: 200px;
}

/* line 76, ../sass/xcogMenu.scss */
.contentWrap {
  z-index: 50;
}

/* line 79, ../sass/xcogMenu.scss */
.content {
  padding: 125px 20px 20px 8px;
}

/* line 82, ../sass/xcogMenu.scss */
.xcogContent {
  padding: 10px 15px 10px 10px;
}

/* line 88, ../sass/xcogMenu.scss */
.mainMenu {
  background: rgba(25, 25, 25, 0.5);
  color: darkgrey;
  position: fixed;
  top: 0;
  padding-top: 135px;
  display: block;
  width: 50%;
  opacity: 0;
  height: 100%;
  background: #3B3B3B;
  overflow-y: hide;
  -webkit-transition: all .6s ease-in;
  -moz-transition: all .6s ease-in;
  -ms-transition: all .6s ease-in;
  -o-transition: all .6s ease-in;
  transition: all .6s ease-in;
}
/* line 110, ../sass/xcogMenu.scss */
.mainMenu a {
  -webkit-transition: all 0.6s 0.2s ease-in;
  -moz-transition: all 0.6s 0.2s ease-in;
  -ms-transition: all 0.6s 0.2s ease-in;
  -o-transition: all 0.6s 0.2s ease-in;
  transition: all .6s .2s ease-in;
  display: block;
  background: linear-gradient(#3E3E3E, #383838);
  border-top: 1px solid #484848;
  border-bottom: 1px solid #2E2E2E;
  color: white;
  padding: 15px;
}
/* line 124, ../sass/xcogMenu.scss */
.mainMenu a:hover, .mainMenu a:focus {
  background: linear-gradient(#484848, #186c96);
}
/* line 128, ../sass/xcogMenu.scss */
.mainMenu:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 34px;
  background: linear-gradient(left, transparent, rgba(0, 0, 0, 0.4));
}

/* line 141, ../sass/xcogMenu.scss */
#menuUl {
  -webkit-transition: all 0.6s 0.2s ease-in;
  -moz-transition: all 0.6s 0.2s ease-in;
  -ms-transition: all 0.6s 0.2s ease-in;
  -o-transition: all 0.6s 0.2s ease-in;
  transition: all .6s .2s ease-in;
}
/* line 149, ../sass/xcogMenu.scss */
#menuUl a {
  color: #7f7f7f;
}
/* line 151, ../sass/xcogMenu.scss */
#menuUl a:hover, #menuUl a:focus {
  color: #ff1414;
}
/* line 154, ../sass/xcogMenu.scss */
#menuUl a.freeze:hover, #menuUl a.ignite:focus {
  color: #19f3ff;
}
/* line 157, ../sass/xcogMenu.scss */
#menuUl a.glow:hover, #menuUl a.glow:focus {
  color: yellow;
}
/* line 160, ../sass/xcogMenu.scss */
#menuUl a.rejuved:hover, #menuUl a.ignite:focus {
  color: #10ff00;
}
/* line 163, ../sass/xcogMenu.scss */
#menuUl a.potent:hover, #menuUl a.rejuved:focus {
  color: #e15eff;
}

/* line 171, ../sass/xcogMenu.scss */
.main-header {
  z-index: 20;
  -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzhmOTZhZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjMlIiBzdG9wLWNvbG9yPSIjM2Y0YzZiIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iOTclIiBzdG9wLWNvbG9yPSIjM2Y0YzZiIiBzdG9wLW9wYWNpdHk9IjAuOSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDMxOTQ0IiBzdG9wLW9wYWNpdHk9IjAuOSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #8f96ad 0%, #3f4c6b 3%, rgba(63, 76, 107, 0.9) 97%, rgba(3, 25, 68, 0.9) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8f96ad), color-stop(3%, #3f4c6b), color-stop(97%, rgba(63, 76, 107, 0.9)), color-stop(100%, rgba(3, 25, 68, 0.9)));
  background: -webkit-linear-gradient(top, #8f96ad 0%, #3f4c6b 3%, rgba(63, 76, 107, 0.9) 97%, rgba(3, 25, 68, 0.9) 100%);
  background: -o-linear-gradient(top, #8f96ad 0%, #3f4c6b 3%, rgba(63, 76, 107, 0.9) 97%, rgba(3, 25, 68, 0.9) 100%);
  background: -ms-linear-gradient(top, #8f96ad 0%, #3f4c6b 3%, rgba(63, 76, 107, 0.9) 97%, rgba(3, 25, 68, 0.9) 100%);
  background: linear-gradient(to bottom, #8f96ad 0%, #3f4c6b 3%, rgba(63, 76, 107, 0.9) 97%, rgba(3, 25, 68, 0.9) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8f96ad', endColorstr='#e6031944',GradientType=0 );
  line-height: 1.1;
  padding: 5px;
  text-align: center;
  color: white;
  text-shadow: #222 0px -1px 1px;
  position: fixed;
  width: 100%;
  left: 0;
  transition: all 0.3s ease;
}
/* line 173, ../sass/xcogMenu.scss */
.main-header svg.icon.menuEject {
  display: block;
  position: absolute;
  left: 29px;
  top: 18px;
  transform: rotate180deg;
}
/* line 179, ../sass/xcogMenu.scss */
.main-header svg.icon.menuEject:hover, .main-header svg.icon.menuEject:focus {
  fill: #00f6ff;
}
/* line 183, ../sass/xcogMenu.scss */
.main-header .skullSVG {
  fill: lightgrey;
  -webkit-transition: all .3s .6s ease-in;
  -moz-transition: all .3s .6s ease-in;
  -ms-transition: all .3s .6s ease-in;
  -o-transition: all .3s .6s ease-in;
  transition: all  .3s .6s ease-in;
}
/* line 192, ../sass/xcogMenu.scss */
.main-header .skullSVG:hover, .main-header .skullSVG:focus {
  fill: #00f6ff;
}

/* line 222, ../sass/xcogMenu.scss */
.contentWrap {
  position: relative;
  z-index: 10;
  padding: 12px;
  padding-top: 150px;
  float: right;
  width: 100%;
  transition: width 0.3s ease;
  line-height: 1.6;
  color: white;
  text-align: center;
  -webkit-transition: all .6s ease-in;
  -moz-transition: all .6s ease-in;
  -ms-transition: all .6s ease-in;
  -o-transition: all .6s ease-in;
  transition: all .6s ease-in;
  background: #252c3f;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI1MmMzZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM5JSIgc3RvcC1jb2xvcj0iIzNmNGM2YiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1ODZmOTYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(left, #252c3f 0%, #3f4c6b 39%, #586f96 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #252c3f), color-stop(39%, #3f4c6b), color-stop(100%, #586f96));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #252c3f 0%, #3f4c6b 39%, #586f96 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #252c3f 0%, #3f4c6b 39%, #586f96 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #252c3f 0%, #3f4c6b 39%, #586f96 100%);
  /* IE10+ */
  background: linear-gradient(to right, #252c3f 0%, #3f4c6b 39%, #586f96 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#252c3f', endColorstr='#586f96',GradientType=1 );
  /* IE6-8 */
}

/* line 255, ../sass/xcogMenu.scss */
.xcogPannel {
  -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

/* line 271, ../sass/xcogMenu.scss */
.footerWraper {
  min-height: 350px;
  text-shadow: #222 0px -1px 1px;
}
/* line 276, ../sass/xcogMenu.scss */
.footerWraper a {
  color: greenyellow;
}
/* line 278, ../sass/xcogMenu.scss */
.footerWraper a:hover {
  text-decoration: none;
  color: lightskyblue;
}
/* line 283, ../sass/xcogMenu.scss */
.footerWraper .footerBrand {
  font-size: 32px;
  font-family: "Times New Roman", Times, serif;
}

/* line 291, ../sass/xcogMenu.scss */
.logoCol {
  max-height: 200px;
  min-height: 200px;
}

/* line 296, ../sass/xcogMenu.scss */
.logoRow {
  max-height: 150px;
}

/* line 300, ../sass/xcogMenu.scss */
.smilelyXcogWrapper {
  position: relative;
  display: inline-block;
  height: 100px;
  width: 100px;
}

/* line 306, ../sass/xcogMenu.scss */
#logoCog {
  position: relative;
  z-index: 5;
  color: black;
  font-size: 160px;
}

/* line 313, ../sass/xcogMenu.scss */
.iconEvil {
  position: relative;
  fill: black;
  z-index: 10;
  top: -127px;
  right: 80px;
}

/* line 321, ../sass/xcogMenu.scss */
.iconGrin {
  position: relative;
  fill: black;
  z-index: 10;
  top: -130px;
  right: 80px;
}

/* line 329, ../sass/xcogMenu.scss */
.smileyCircleSVG {
  z-index: 7;
  position: relative;
  right: 25px;
  top: -316px;
  width: 200px;
  height: 200px;
}

/* line 337, ../sass/xcogMenu.scss */
.circleLogo {
  position: absolute;
  z-index: 8;
  fill: #faff00;
}

/* line 342, ../sass/xcogMenu.scss */
.icon {
  display: inline-block;
  fill: white;
  height: 32px;
  width: 32px;
}

/* line 348, ../sass/xcogMenu.scss */
.icon-o {
  display: inline-block;
  fill: darkgrey;
  height: 32px;
  width: 32px;
}

/* line 358, ../sass/xcogMenu.scss */
.SIC {
  top: 10px;
  font-size: 60px;
  -webkit-transition: all 0.6s 0.2s ease-in;
  -moz-transition: all 0.6s 0.2s ease-in;
  -ms-transition: all 0.6s 0.2s ease-in;
  -o-transition: all 0.6s 0.2s ease-in;
  transition: all .6s .2s ease-in;
}
/* line 366, ../sass/xcogMenu.scss */
.SIC:hover, .SIC:focus {
  color: #2aff00;
}

/* line 371, ../sass/xcogMenu.scss */
.xcogIgnite, .ignite, .glow, .rejuved, .freeze, .potent {
  -webkit-transition: all 0.6s 0.1s ease-in;
  -moz-transition: all 0.6s 0.1s ease-in;
  -ms-transition: all 0.6s 0.1s ease-in;
  -o-transition: all 0.6s 0.1s ease-in;
  transition: all .6s .1s ease-in;
}

/* line 379, ../sass/xcogMenu.scss */
.biohazard {
  font-size: 84px;
}

/* line 387, ../sass/xcogMenu.scss */
.xcogIgnite:hover {
  color: red;
}

/* line 395, ../sass/xcogMenu.scss */
.potent:hover, .potent:focus {
  fill: #ff00e1;
}

/* line 400, ../sass/xcogMenu.scss */
.subTitle {
  color: lightGrey;
  font-size: 12;
}

/* line 405, ../sass/xcogMenu.scss */
#idCBOX {
  -webkit-transition: all 0.6s 0.2s ease-in;
  -moz-transition: all 0.6s 0.2s ease-in;
  -ms-transition: all 0.6s 0.2s ease-in;
  -o-transition: all 0.6s 0.2s ease-in;
  transition: all .6s .2s ease-in;
}
/* line 411, ../sass/xcogMenu.scss */
#idCBOX:hover, #idCBOX:focus {
  color: #2aff00;
}

/* line 416, ../sass/xcogMenu.scss */
.CHECK {
  -webkit-transition: all 0.6s 0.2s ease-in;
  -moz-transition: all 0.6s 0.2s ease-in;
  -ms-transition: all 0.6s 0.2s ease-in;
  -o-transition: all 0.6s 0.2s ease-in;
  transition: all .6s .2s ease-in;
  color: grey;
}
/* line 423, ../sass/xcogMenu.scss */
.CHECK:hover, .CHECK:focus {
  color: yellow;
}

/* line 428, ../sass/xcogMenu.scss */
.X {
  -webkit-transition: all 0.6s 0.2s ease-in;
  -moz-transition: all 0.6s 0.2s ease-in;
  -ms-transition: all 0.6s 0.2s ease-in;
  -o-transition: all 0.6s 0.2s ease-in;
  transition: all .6s .2s ease-in;
}
/* line 434, ../sass/xcogMenu.scss */
.X:hover, .X:focus {
  color: #2aff00;
}

/* line 440, ../sass/xcogMenu.scss */
.Xtwo {
  -webkit-transition: all 0.6s 0.2s ease-in;
  -moz-transition: all 0.6s 0.2s ease-in;
  -ms-transition: all 0.6s 0.2s ease-in;
  -o-transition: all 0.6s 0.2s ease-in;
  transition: all .6s .2s ease-in;
}
/* line 446, ../sass/xcogMenu.scss */
.Xtwo:hover, .Xtwo:focus {
  color: #19f3ff;
}

/* line 452, ../sass/xcogMenu.scss */
.G {
  -webkit-transition: all 0.6s 0.2s ease-in;
  -moz-transition: all 0.6s 0.2s ease-in;
  -ms-transition: all 0.6s 0.2s ease-in;
  -o-transition: all 0.6s 0.2s ease-in;
  transition: all .6s .2s ease-in;
}
/* line 459, ../sass/xcogMenu.scss */
.G:hover, .G:focus {
  color: yellow;
}

/* line 463, ../sass/xcogMenu.scss */
.BO {
  -webkit-transition: all 0.6s 0.2s ease-in;
  -moz-transition: all 0.6s 0.2s ease-in;
  -ms-transition: all 0.6s 0.2s ease-in;
  -o-transition: all 0.6s 0.2s ease-in;
  transition: all .6s .2s ease-in;
  color: grey;
}
/* line 470, ../sass/xcogMenu.scss */
.BO:hover, .BO:focus {
  color: #19f3ff;
}

/* line 474, ../sass/xcogMenu.scss */
.COG {
  -webkit-transition: all .6s .1s ease-in;
  -moz-transition: all .6s .1s ease-in;
  -ms-transition: all .6s .1s ease-in;
  -o-transition: all .6s .1s ease-in;
  transition: all .6s .1s ease-in;
}
/* line 480, ../sass/xcogMenu.scss */
.COG:hover, .COG:focus {
  color: #f20000;
}

/* line 486, ../sass/xcogMenu.scss */
.HACK {
  color: #3d3d3d;
  font-size: 18px;
  -webkit-transition: all 0.6s 0.2s ease-in;
  -moz-transition: all 0.6s 0.2s ease-in;
  -ms-transition: all 0.6s 0.2s ease-in;
  -o-transition: all 0.6s 0.2s ease-in;
  transition: all .6s .2s ease-in;
}
/* line 494, ../sass/xcogMenu.scss */
.HACK:hover, .HACK:focus {
  color: #f20000;
}

/* line 502, ../sass/xcogMenu.scss */
.toggleLabel {
  font-size: 32px;
  text-shadow: #222 0px -1px 1px;
}

/* line 508, ../sass/xcogMenu.scss */
input[type=checkbox] {
  position: absolute;
  top: 20px;
  left: 40px;
  opacity: 0;
  z-index: 50;
}

/* Toggled State */
/* line 517, ../sass/xcogMenu.scss */
input[type=checkbox]:checked ~ .mainMenu {
  opacity: 1;
  width: 22%;
}

/* line 521, ../sass/xcogMenu.scss */
input[type=checkbox]:checked ~ #contentContainer {
  width: 78%;
}

/* line 530, ../sass/xcogMenu.scss */
.xcogWarning {
  z-index: 3;
}

/* line 534, ../sass/xcogMenu.scss */
.xcogLineHeight {
  line-height: .2;
}

/* line 538, ../sass/xcogMenu.scss */
.xcogNowrap {
  white-space: nowrap;
}

/* line 542, ../sass/xcogMenu.scss */
#rachet {
  bottom: 50px;
}

/* line 546, ../sass/xcogMenu.scss */
.xcogBannerRob {
  background-image: url("//farm8.staticflickr.com/7331/12960175804_e7a0049203_o.jpg") no-repeat center;
  background-size: 100%;
  height: 200px;
}
/* line 551, ../sass/xcogMenu.scss */
.xcogBannerRob h2.panel-title {
  font-size: 32px;
  font-family: "Times New Roman", Times, serif;
  color: white;
  display: block;
  position: absolute;
  top: 200px;
}

/* line 564, ../sass/xcogMenu.scss */
.site-index {
  font-size: 24px;
  font-family: "Times New Roman", Times, serif;
  color: grey;
}

/* line 580, ../sass/xcogMenu.scss */
.xcog-resume {
  display: inline-block;
  line-height: 1.1;
  padding: 5px;
  padding-left: 50px;
  text-align: center;
  color: white;
  text-shadow: #222 0px -1px 1px;
  position: realtive;
}

/* line 594, ../sass/xcogMenu.scss */
#robsJumbo {
  display: inline-block;
}
/* line 597, ../sass/xcogMenu.scss */
#robsJumbo img.xcogRobBanner {
  position: fixed;
  max-width: 1200px;
  height: auto;
}
