[class^="icon-xcog"], [class*=" icon-xcog"] {
	display: inline-block;
	color: #000000;
	fill: currentColor;
}
.icon-xcoghome {
	width: 32px;
	height: 32px;
}
.icon-xcogmusic {
	width: 32px;
	height: 32px;
}
.icon-xcogheadphones {
	width: 32px;
	height: 32px;
}
.icon-xcogdice {
	width: 32px;
	height: 32px;
}
.icon-xcogcart {
	width: 32px;
	height: 32px;
}
.icon-xcogbubble {
	width: 32px;
	height: 32px;
}
.icon-xcogspinner {
	width: 32px;
	height: 32px;
}
.icon-xcogbinoculars {
	width: 32px;
	height: 32px;
}
.icon-xcogsearch {
	width: 32px;
	height: 32px;
}
.icon-xcogcog {
	width: 32px;
	height: 32px;
}
.icon-xcogcog2 {
	width: 32px;
	height: 32px;
}
.icon-xcogdashboard {
	width: 32px;
	height: 32px;
}
.icon-xcoghappy {
	width: 32px;
	height: 32px;
}
.icon-xcogsmiley {
	width: 32px;
	height: 32px;
}
.icon-xcogtongue {
	width: 32px;
	height: 32px;
}
.icon-xcogsad {
	width: 32px;
	height: 32px;
}
.icon-xcogwink {
	width: 32px;
	height: 32px;
}
.icon-xcoggrin {
	width: 32px;
	height: 32px;
}
.icon-xcogcool {
	width: 32px;
	height: 32px;
}
.icon-xcogangry {
	width: 32px;
	height: 32px;
}
.icon-xcogshocked {
	width: 32px;
	height: 32px;
}
.icon-xcogconfused {
	width: 32px;
	height: 32px;
}
.icon-xcogneutral {
	width: 32px;
	height: 32px;
}
.icon-xcogwondering {
	width: 32px;
	height: 32px;
}
.icon-xcogclose {
	width: 32px;
	height: 32px;
}
.icon-xcogcode {
	width: 32px;
	height: 32px;
}
.icon-xcogsearch2 {
	width: 32px;
	height: 32px;
}
.icon-xcoglab {
	width: 32px;
	height: 32px;
}
.icon-xcogtools {
	width: 20px;
	height: 20px;
}
.icon-xcogsound {
	width: 20px;
	height: 20px;
}
